@use '../index.scss' as *;

.aboutPage {
  min-height: 60vh;
  padding: 4rem 2rem;
  background-color: $bg-color;

  h1 {
    font-family: $primary-font-family, $font-stack;
    font-size: 2.5rem;
    color: $text-color;
    margin-bottom: 2rem;
    text-align: center;
  }

  p {
    font-family: $primary-font-family, $font-stack;
    font-size: 1.1rem;
    color: $text-color;
    text-align: center;
  }
}
