@use '../index.scss' as *;
@use 'sass:color';

.checkOfferSection {
  background-color: $bg-color;
  color: $text-color;
  padding: 8rem 1rem 4rem;
  text-align: center;

  @media (min-width: 768px) {
    padding: 10rem 1rem 5rem;
  }
}

.checkOfferContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkOfferContent {
  width: 100%;
  text-align: center;
}

.checkOfferTitle {
  font-family: $primary-font-family;
  font-weight: 275;
  font-style: italic;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 1.5rem;
  color: $text-color;

  span {
    font-family: $primary-font-family;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0;
  }
}

.checkOfferSubtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.checkOfferButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.callToActionButton {
  font-weight: 600;
  padding: 1rem 2.5rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  background: $primary-color;
  border: 1px solid $primary-color;
  color: $bg-color;

  &:hover {
    background-color: color.scale($primary-color, $lightness: -10%);
    border-color: color.scale($primary-color, $lightness: -10%);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}
