// src/components/HomeSection.module.scss
@use '../index.scss' as *;
@use 'sass:color';

.home {
  background-color: $primary-color;
  color: $white-color;
  padding: 3rem 1rem 6rem;
  text-align: center;

  @media (min-width: 768px) {
    padding: 4rem 1rem 8rem;
  }
}

.homeContainer {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @media (min-width: 968px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.homeContent {
  flex: 1;
  max-width: 700px;

  @media (min-width: 968px) {
    text-align: left;
  }
}

.homeImage {
  flex: 0 0 auto;
  max-width: 500px;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (min-width: 968px) {
    max-width: 450px;
  }
}

.homeTitle {
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 1.5rem;

  span {
    font-family: $primary-font-family;
    font-weight: 275;
    font-style: italic;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0;
  }

  @media (min-width: 768px) {
    font-size: 64px;
  }
}

.homeSubtitle {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0;


  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media (min-width: 968px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.homeButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 968px) {
    justify-content: flex-start;
  }
}

.callToActionButton,
.secondaryButton {
  font-weight: 600;
  padding: 1rem 2.5rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
}

.callToActionButton {
  background-color: $white-color;
  color: $primary-color;

  &:hover {
    background-color: color.scale($white-color, $lightness: -5%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

.secondaryButton {
  background-color: transparent;
  color: $white-color;
  border: 2px solid $white-color;

  &:hover {
    background-color: $white-color;
    color: $primary-color;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}
