@use '../variables' as *;
@use 'sass:color';

.phoneButton {
  display: inline-flex;
  align-items: center;
  color: $secondary-color;
  padding: 0.8rem 1.5rem;
  border-radius: 9999px;
  border: 1px solid $bg-color;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $bg-color;
    color: $primary-color;
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  &.inverted {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}

.icon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  line-height: 0;

  svg {
    width: 1.1em;
    height: 1.1em;
    display: block;
  }
}

.number {
  line-height: 1;
}
