@use '../index.scss' as *;
@use 'sass:color';

.header {
  background-color: $primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 50;
  color: $secondary-color;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: auto;
  }
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;

  // Zagnieżdżanie: style dla linków w liście
  li {
    margin: 0; // Usuwamy domyślny margines listy
  }
}

.navLink {
  text-decoration: none;
  color: $secondary-color;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
