// src/components/HeroSection.module.scss

// @import '../index.scss'; // Importuj zmienne globalne jeśli używasz

.heroSection {
  background: linear-gradient(to right, #007bff, #6f42c5); // Użyj zmiennych $primary-color, $secondary-color jeśli zaimportowałeś
  color: white;
  padding: 5rem 1rem;
  text-align: center;

  @media (min-width: 768px) {
    padding: 8rem 1rem;
  }
}

.heroContent {
  max-width: 900px;
  margin: 0 auto;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 4rem;
  }
}

.heroSubtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.callToActionButton {
  background-color: white;
  color: #007bff; // Użyj $primary-color
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #e0e7ff; // Jaśniejszy odcień niebieskiego
    transform: scale(1.05);
  }
}
