// src/components/PhoneButton.module.scss

// Importujemy zmienne z globalnego pliku SCSS, aby zachować spójność
@use '../index.scss' as *;
@use 'sass:color';

.phoneButton {
  display: inline-flex;
  align-items: center;
  background-color: #3f7de0; // Specyficzny kolor dla przycisku tel
  color: $white-color;
  padding: 0.8rem 1.5rem;
  border-radius: 9999px;
  border: 1px solid rgba($white-color, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer; // Dodajemy kursor wskaźnika

  &:hover {
    background-color: color.scale(#3f7de0, $lightness: -17.77%); // Przyciemnij kolor tła
    border-color: rgba($white-color, 0.6);
    //transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.icon {
  margin-right: 0.7rem;
  display: flex;
  align-items: center;

  svg {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
  }
}

.number {
  // Można dodać specyficzne style dla numeru, jeśli jest taka potrzeba
}
