// src/globals.scss
@use './variables' as *;

// Globalne style i resetowanie
html {
  scroll-behavior: smooth;
}

* {
  font-family: $primary-font-family, $font-stack;
}

body {
  margin: 0;
  font-family: $primary-font-family, $font-stack;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: $primary-letter-spacing;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}

// Globalny kontener - używany w komponentach
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; // Padding po bokach dla responsywności
}

// Ensure no gaps at the top of the page
.app-container {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}
