@use 'tailwindcss';

@theme {
  --color-primary: #3e7979;
  --color-secondary: #ffffff;
  --color-text-primary: #292929;
  --color-text-secondary: #767676;

  --font-family-base: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

* {
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

body {
  margin: 0;
}
