// src/index.scss

// Zmienne globalne
$primary-color: #3e7979;
$secondary-color: #ffffff;
$text-color: #292929;
$text-color-2: #767676;
$bg-color: #f0f2f5;
$white-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);

$primary-font-family: Lato;
$primary-font-weight: 500;
$primary-font-style: Medium;
$primary-font-size: 16px;
$primary-leading-trim: NONE;
$primary-line-height: 100%;
$primary-letter-spacing: 0%;

$font-stack:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
// Globalne style i resetowanie
html {
  scroll-behavior: smooth;
}

* {
  font-family: $primary-font-family, $font-stack;
}

body {
  margin: 0;
  font-family: $primary-font-family, $font-stack;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: $primary-letter-spacing;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}

// Globalny kontener - używany w komponentach
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; // Padding po bokach dla responsywności
}
